body {
  color: #393e46;
  font-family: 'Merriweather', serif;
  margin: 0;
  text-align: center;
}

h1 {
  color: #eeeeee;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  margin: 20px auto 0 auto;
  padding-top: 40px;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
}

.head-h2 {
  color: #eeeeee;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  padding: 30px;
}

p {
  line-height: 2;
}

hr {
  border: dotted 6px;
  border-bottom: none;
  margin: 80px auto;
  width: 4%;
}

/* top class */
.top {
  background-color: #393e46;
  padding-top: 80px;
  position: relative;
}

.pc {
  position: absolute;
  width: 20%;
  left: 10px;
  top: 10px;
}

.code-img {
  left: 400px;
  position: absolute;
  top: 400px;
  width: 10%;
}

.code1-img {
  right: 300px;
  top: 100px;
  position: absolute;
  width: 10%;
}

.robot-img {
  margin-bottom: 20px;
}

/* middle container */
.middle {
  margin: 50px 0;
}

.profile {
  width: 40%;
  margin: auto;
  margin-top: 30px;
}

.jobs-row {
  width: 40%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.ai-img {
  border-radius: 50%;
  width: 25%;
  float: left;
  margin-right: 30px;
}

.web-img {
  border-radius: 50%;
  width: 25%;
  float: right;
  margin-right: 30px;
}

.app-img {
  border-radius: 50%;
  width: 35%;
  float: left;
  margin-right: 30px;
}

.pro-img {
  border-radius: 50%;
  width: 25%;
  float: right;
  margin-right: 30px;
}

/* bottom-container */
.bottom {
  background-color: #222831;
  padding: 50px 0 20px;
}

a {
  font-family: 'Merriweather', serif;
  margin: 10px 20px;
  text-decoration: none;
  color: #323232;
}

a:hover {
  color: #eeeeee;
}

.copyright {
  padding: 40px 0;
}

@media (max-width:1400px) {
  .code-img {
    visibility: hidden;
  }

  .code1-img {
    display: none;
  }
}

/* html button generator  */
.btn {
  background-color: #333333;
  border-radius: 9px;
  border: 1px solid #0a0a0a;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 10px 27px;
  text-decoration: none;
  text-shadow: 2px -1px 16px #d2dbd2;
}

.btn:hover {
  background-color: #171717;
}

.btn:active {
  position: relative;
  top: 1px;
}
